body {
    background-image: url("background.jpeg");
    background-size: cover;
}

#name {
    font-family: 'Rancho', cursive;
}

.box {
    width: 100%;
    text-align: center;

    padding-top: 50px;


}
.newJobDiv{
    Background: white;
    Width: 500px;
    color: black;
    float: left;
    margin:10px;
    padding: 10px;
    border-radius: 15px;
}
.jobDescriptionDiv{
    Width: 475px;
    height: 150px;
    overflow-y: scroll;
    color:black;
    
}
#projectTitle {
    font-family: 'Rancho', cursive;
    width: 100%;
    text-align: center;
    font-size: 150px;
    padding-top: 50px;
    margin:0px;
    color: white;
}

#weather{
    background:white;
    width: 30%;
    padding:7px;
    border-radius: 15px;
}
#weatherDiv{
    margin:auto;
}


#jobDiv{
    margin:auto;
    text-align: center;
}

/* Pure elements */
#navbar{
    background:white;
    padding: 5px;
}
.pure-table {
    margin:auto;
}
.pure-menu{
    width: 960px;

}
.pure-menu-custom a {
    color: rgb(59, 59, 59);
    font-family: 'Nixie One', cursive;
    font-weight: 200px;
    
}

.pure-menu-custom a:hover {
    color:#777;
    background:white;
}
tbody {
    background-color:#777;
}

.pure-menu-list{
    float:right;
}